<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdis.twitterclient" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GUI.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="t4jsample"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI.ClientActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".GUI.CreateCategoryActivity"
            android:label="@string/title_activity_create_category" >
        </activity>
        <activity
            android:name=".GUI.CategoriesActivity"
            android:label="@string/title_activity_create_category" >
        </activity>
        <activity
            android:name=".GUI.SpecificCategoryActivity"
            android:label="@string/title_activity_create_category" >
        </activity>
        <activity
            android:name=".GUI.SearchActivity"
            android:label="@string/title_activity_create_category" >
        </activity>
    </application>

</manifest>
